<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana Rideshares</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="container d-flex justify-content-center flex-column w-50 p-5">
    <div class="d-flex justify-content-between align-items-end border-bottom border-dark p-3">
        <div>
            <h1>Welcome, {{session.first_name}}</h1>
        </div>
        <div>
            <a href="/ride/new/{{session['id']}}" class="p-5">+ Request a Ride</a>
            <a href="/logout">logout</a>
        </div>
    </div>
    <div class="d-flex justify-content-center p-4">
        <div class="container text-center">
            <h2 class="text-warning">Rideshare Requests</h2>
            <div class="border border-dark">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolorem quo nobis adipisci, esse corporis, 
                    perferendis officiis quaerat consequatur laudantium, fuga maiores cumque illum deserunt. Officia sit rerum ipsam 
                    cupiditate.</p>
            </div>
        </div>
        <div class="container text-center">
            <h2 class="text-warning">Booked Rideshares</h2>
            <div class="border border-dark">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolorem quo nobis adipisci, esse corporis,
                    perferendis officiis quaerat consequatur laudantium, fuga maiores cumque illum deserunt. Officia sit rerum ipsam
                    cupiditate.</p>
            </div>
        </div>
    </div>
</body>

</html>