<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h1 class="col-10 d-flex justify-content-center">Add a New User</h1>
    <a href="/users" class="col-12 d-flex justify-content-center">Home</a>
    <div class="d-flex  justify-content-center col-11 my-5">
        <table width="30%">
            <tr>
                <th><label for="first_name">First Name: </label></th>
                <td><p>{{user.first_name}}</p></td>
            </tr>
            <tr>
                <th><label for="last_name">Last Name: </label></th>
                <td><p>{{user.last_name}}</p></td>
            </tr>
            <tr>
                <th><label for="email" >Email: </label></th>
                <td><p>{{user.email}}</p></td>
            </tr>
            <tr>
            <th><label for="updated_at" >Last Updated On: </label></th>
            <td><p>{{user.updated_at}}</p></td>
            </tr>
        </table>
    </div>
    <a href="/edit/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a>
</body>
</html>