<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Leaders</H1>
    <table>
        <thead>
            <td>Username</td>
            <td>Count</td>
        </thead>
        <tr>
            <td>{{session.name}}</td>
            <td>{{session.count}}</td>
        </tr>
    </table>
    <form action="/newgame">
        <input type="submit" name="reset" value="Again!" class="m-3 rounded bg-light">
    </form>
</body>
</html>