<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="">
            <label for="name" value="name">Name</label>
            <input type="text" name="name"><br>
            <input type="button" value="Create">
        </form>
    </div>
    <div>
        <h1>All Dojos</h1>
        <ul>
            <a href="/get_dojos"><li>Seattle</li></a>
        </ul>
        <a href="/ninja">Add Ninja</a>
    </div>
</body>
</html>