<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <div>
        <h1>New Ninja</h1>
        <form action="/ninja_add">
            <label for="dojo">Dojo</label>
            <select>
                <option value="seattle" name="dojo">Seattle</option>
            </select><br>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name"><br>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name"><br>
            <label for="age">Age</label>
            <input type="number" name="age"><br>
            <input type="button" name="Create" id="create" value="Create">
        </form>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>